$height-app: 100vh;
$width-app: 100vw;
$max-height-app: 100vh;
$white-color: #ffffff;
$black-color: #000000;
$background-color-card: #2e2e2e;
$background-color-content: #c9c9c9;
$separator-color: #888888;
$button-color: #aeaeae;
$button-color-hover: #383838;
